# HL7v2 to Kafka

In [3]:
import pandas as pd
import intersystems_iris as iris
from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [4]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/IRISAPP')
engine

Engine(iris://SuperUser:***@iris:1972/IRISAPP)

## Create the dbapi connection

In [5]:
host = "HL7v2_to_Kafka"
port = 1972
namespace = "IRISAPP"
user = "_SYSTEM"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

conn

# create a cursor

In [6]:
cur = conn.cursor()
cur

In [7]:
pd.read_sql_table('gender', engine, schema="data")

   ID firstname                  ts   value
0   1      John 2024-06-14 12:47:21    male
1   2    Olivia 2024-06-14 12:47:22  female
2   3      Jimi 2024-06-14 12:47:22    male
3   4      Jimi 2024-06-14 12:47:22    male

In [9]:
sql = """
SELECT top 5
*
FROM data.gender
ORDER BY ID DESC
"""
sql

'\nSELECT top 5\n*\nFROM data.gender\nORDER BY ID DESC\n'

In [10]:
cur.execute(sql)
cur.fetchall()

[Row(ID=4, firstname='Jimi', ts='2024-06-14 12:47:22', value='male'),
 Row(ID=3, firstname='Jimi', ts='2024-06-14 12:47:22', value='male'),
 Row(ID=2, firstname='Olivia', ts='2024-06-14 12:47:22', value='female'),
 Row(ID=1, firstname='John', ts='2024-06-14 12:47:21', value='male')]

In [11]:
df = pd.read_sql_query(sql, engine)
df.head()

   ID firstname                   ts   value
0   4      Jimi  2024-06-14 12:47:22    male
1   3      Jimi  2024-06-14 12:47:22    male
2   2    Olivia  2024-06-14 12:47:22  female
3   1      John  2024-06-14 12:47:21    male

## Display data from HL7v2toKafka_msg.kafka using PANDA and SQLAlchemy

In [12]:
pd.read_sql_table('kafka', engine, schema="HL7v2toKafka_msg")

,ID,binaryValue,key,topic,value
0,2,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^John^^^^^DM
1,3,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^Olivia^^^^^DM FIND^...
2,4,None,010561081^^^TrakCare^PI,APT-FROM-TRAKCARE-ENVOIE-TO-PTAH--RECEPTION,202405221100 PATIENT: HENDRIX^Jimi^^^^^DM 101...
3,5,None,010561081^^^DxCare^PI,APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION,202405231430 PATIENT: HENDRIX^Jimi^^^^^DM
4,6,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^John^^^^^DM
5,7,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^Olivia^^^^^DM FIND^...
6,8,None,None,None,None
7,10,None,010561081^^^TrakCare^PI,APT-FROM-TRAKCARE-ENVOIE-TO-PTAH--RECEPTION,202405221100 PATIENT: HENDRIX^Jimi^^^^^DM 101...
8,11,None,None,None,None
9,13,None,None,None,None
10,15,None,None,None,None
11,16,None,010561081^^^DxCare^PI,APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION,202405231430 PATIENT: HENDRIX^Jimi^^^^^DM
12,17,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^John^^^^^DM
13,18,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^Olivia^^^^^DM FIND^...
14,20,None,010561081^^^TrakCare^PI,APT-FROM-TRAKCARE-ENVOIE-TO-PTAH--RECEPTION,202405221100 PATIENT: HENDRIX^Jimi^^^^^DM 101...
15,21,None,010561081^^^DxCare^PI,APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION,202405231430 PATIENT: HENDRIX^Jimi^^^^^DM
16,25,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^John^^^^^DM
17,31,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^Olivia^^^^^DF FIND^...
18,32,None,010561081^^^TrakCare^PI,APT-FROM-TRAKCARE-ENVOIE-TO-PTAH--RECEPTION,202405221100 PATIENT: HENDRIX^Jimi^^^^^DM 101...
19,36,None,010561081^^^DxCare^PI,APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION,202405231430 PATIENT: HENDRIX^Jimi^^^^^DM

## Display data from HL7v2toKafka_msg.Kafka using DBAPI

In [15]:
sql = """
SELECT top 5
*
FROM HL7v2toKafka_msg.Kafka
ORDER BY ID DESC
"""
sql

'\nSELECT top 5\n*\nFROM HL7v2toKafka_msg.Kafka\nORDER BY ID DESC\n'

In [16]:
cur.execute(sql)
cur.fetchall()

[Row(ID=36, binaryValue=None, key='010561081^^^DxCare^PI', topic='APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION', value='202405231430 PATIENT: HENDRIX^Jimi^^^^^DM'),
 Row(ID=32, binaryValue=None, key='010561081^^^TrakCare^PI', topic='APT-FROM-TRAKCARE-ENVOIE-TO-PTAH--RECEPTION', value='202405221100 PATIENT: HENDRIX^Jimi^^^^^DM  1010.1^BODY WEIGHT 62kg  1010.1^HEIGHT 190cm   p5 observation text even with \\~ escape values~p5 observation \\^ text more~p5 and more\\'),
 Row(ID=31, binaryValue=None, key='00556432^^^HospitalA^PI', topic='SURG-FROM-SendingApp-SendingFac-TO-ReceivingApp--ReceivingFac', value='202405221100 PATIENT: DOE^Olivia^^^^^DF  FIND^FINDINGS^XRAY Results of X-Ray: Fractured rib noted on the right side.  FIND^FINDINGS^XRAY No evidence of pulmonary abnormalities.  FIND^FINDINGS^XRAY Clear visualization of heart and mediastinal structures.  FIND^FINDINGS^XRAY Minimal right-sided pleural effusion.  FIND^FINDINGS^XRAY Lung fields clear bilaterally.'),
 Row(ID=25, binaryValue=None, key='00556432^^^HospitalA^PI', topic='SURG-FROM-SendingApp-SendingFac-TO-ReceivingApp--ReceivingFac', value='202405221100 PATIENT: DOE^John^^^^^DM'),
 Row(ID=21, binaryValue=None, key='010561081^^^DxCare^PI', topic='APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION', value='202405231430 PATIENT: HENDRIX^Jimi^^^^^DM')]

## Display the SQL Query from a dataframe

In [17]:
df = pd.read_sql_query(sql, engine)
df.head()

,ID,binaryValue,key,topic,value
0,36,None,010561081^^^DxCare^PI,APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION,202405231430 PATIENT: HENDRIX^Jimi^^^^^DM
1,32,None,010561081^^^TrakCare^PI,APT-FROM-TRAKCARE-ENVOIE-TO-PTAH--RECEPTION,202405221100 PATIENT: HENDRIX^Jimi^^^^^DM 101...
2,31,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^Olivia^^^^^DF FIND^...
3,25,None,00556432^^^HospitalA^PI,SURG-FROM-SendingApp-SendingFac-TO-ReceivingAp...,202405221100 PATIENT: DOE^John^^^^^DM
4,21,None,010561081^^^DxCare^PI,APT-FROM-DXPLANNING-ENVOIE-TO-PTAH--RECEPTION,202405231430 PATIENT: HENDRIX^Jimi^^^^^DM

In [18]:
conn.close()
conn

In [19]:
cur.isClosed()
cur

In [20]:
cur.close()

In [21]:
cur.isClosed()

True